<div class="row-fluid">

	<div class="page-header">
		<h1>
			OpenLigaDB<br />
		</h1>
	</div>

	<div ng-show="progressloading">
		<img class="center-block" src="/images/ajax-loader.gif" />
	</div>

	<h2>Spiele</h2>

	<div>
		<table
			class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>Datum</th>
					<th>Match</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="m in matches">
					<td>{{m.matchId}}</td>
					<td>{{m.matchdate | displaydate}}</td>
					<td>{{m.team1.name}} - {{m.team2.name}}</td>
					<td>{{m.score1}} : {{m.score2}}<br/>
					finished: {{m.finished}}<br/>
					lastUpd {{m.lastUpdate | displaydate}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
